#root,
html,
body {
  height: 100%;
}
.App {
  background-color: white;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.game-container {
  background-color: rgb(100, 182, 178);
  width: 500px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.num {
  background-color: gold;
  border-radius: 10px;
  border: 1px solid;
  color: black;
  display: block;
  font-size: 24px;
  height: 128px;
  line-height: 64px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.5s ease;
  width: 128px;
}

.num.disabled {
  background-color: gray;
}

.num.part-of-solution {
  background-color: rgb(64, 179, 64);
}

.stats {
  font-size: 24px;
  border: 1px solid black;
  background-color: bisque;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.stats-container {
  /* background-color: rgb(100, 182, 178); */
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: stretch;
  flex-wrap: wrap;
}

.stat {
  display: block;
  flex-grow: 1;
  border-radius: 15px;
  border: 1px solid gray;
  color: white;
  background-color: rgba(95, 14, 14, 0.877);
  padding: 20px;
  font-size: 22px;
  width: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.big-game-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.game-sum {
  display: flex;
  flex-grow: 1;
  /* border: 1px solid gray; */
  color: white;
  background-color: rgba(95, 14, 114, 0.877);
  padding: 20px;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
